@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Phudu', cursive; */
}


@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300&display=swap');


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Phudu';

}



body {
    text-align: center;

    background-image: url("giphy.gif"); /* Укажите путь к вашей гифке */
    background-size: cover; /* Растягивает изображение на всю ширину и высоту элемента body */
    /* background-repeat: no-repeat; Запрещает повторение изображения */

    height: 100%;
}
/* .main {
    text-align: center;
} */

h1 {
    text-align: center;
}




#order-form {
    padding: 10px;
    align-items: center;
    /* display: none; */
    flex-direction: column;
    width: 80%;
}

input {
    margin: 0;
    padding: 0;
    margin: 10px;
}


.good-card {
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 200px; */
    width: 50%;
    /* align-items: center; */
    text-align: center;
    /* margin: 30px; */
    padding: 10px;

}

.main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}


img {
    height: 100px;
}

p {
    padding-bottom: 5px;
}

.footer {
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed; /* Фиксированное положение */
    bottom: 0px; /* Расстояние от правого края окна браузера */ /* Расстояние сверху */
    width: 100%;
    height: 10%;
    background: #ffe; /* Цвет фона */ 
    border-top: 0.5px solid #333; /* Параметры рамки */ 
    box-sizing: content-box;
}

.footer-photo {
    height: 100%;
}

/* #view-order {
    background-color: #5dbea3;
    border-width: 0.1px;
    margin-top: 8px;
    border-radius: 5px;
    width: 98%;
    height: 80%;
} */

#counter {
    display: inline;
}

.footer1 {
    align-items: center;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */

    /* position: fixed; */
    /* margin-top: 100px; */

}

.footer1 > .cart > button {
    /* position: absolute; */
    background-color: #5dbea3;
    border-width: 0.1px;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    margin-bottom: 5px;
    /* margin-top: -80%; */
}

p {
    padding-bottom: 0;
}



.cart {
background-color: #4b4b4bc0; /* Цвет фона футера */
color: white; /* Цвет текста */
padding: 10px; /* Внутренний отступ */
position: fixed; /* Закрепляем футер на экране */
bottom: 0; /* Футер будет внизу экрана */
width: 100%; /* Ширина футера равна ширине экрана */
text-align: center;
}

.order-finish-btn, #back-btn{
    background-color: #5dbea3;
    border-style: none;
    border-width: 0.1px;
    margin-top: 8px;
    color: #ffffff;
    border-radius: 20px;
    width: 85%;
    height: 65px;
    font-family: 'Phudu';
    font-size: 21px;

}

.cont {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 260px;
}

.cart > h2 {
    font-size: 20px;
}

.decrement, .increment{
    font-size: 25px;
    color: #5dbea3;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

.sub {
    margin-top: 0;
    display: inline;
    font-size: 10px;
}

.description {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 10px;
    color: rgb(84, 84, 84);
}


#hide-order, #Ok-button { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none; 
    background-color: transparent;
}

.upper {
    height: 40px;
    width: 40px;
}


input {
    /* border-radius: 10px; */
    padding-left: 5px;
    border-style: none;
    height: 40px;
    width: 220px;
}

#order_finish {
    color: #ffffff;
    border-radius: 10px;
    border-style: none;
    background-color: #5dbea3;
    margin-top: 10px;
    height: 40px;
    width: 140px;
}
