@mixin before_circle
    content: ''
    position: absolute
    display: block
    height: 36px
    width: 36px
    border-radius: 100%
    background-color: $main_color
    left: 0
    z-index: -1
    top: -25%

@mixin title_decoration
        color: rgb(0, 0, 0)
        font-size: 36px
        font-weight: 700
        line-height: 60px
        // text-align: left
        // margin-bottom: 5px