.skills
    min-height: 100vh
    padding-top: 100px
    .marker
        margin-bottom: 10px
    &__container
        margin-top: 70px
        display: grid
        justify-items: center
        align-items: center
        justify-content: center
        gap: 30px
        grid-template-columns: repeat(5, 100px)
        grid-template-rows: repeat(5, 100px)
    &__item
        width: 90px
        height: 90px
        img
            display: block
            margin: 0 auto
            width: 100%
 